language: java
jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
sudo: false
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
script:
  - "./gradlew clean check jacocoTestReport --continue"
after_success:
  - bash <(curl -s https://codecov.io/bash)
after_failure:
  - cat $HOME/travis/build/auth0/java-jwt/lib/build/reports/tests/index.html
branches:
  only:
  - master